<!-- app/views/users/dashboard.html.erb -->
<div class="content">
 <div class="container-fluid">
   <div class="row">
     <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="purple">
          </div>
          <div class="card-content">
          <h1 class="card-title">My Leave Dashboard</h1>
          <div class="toolbar">
          </div>
          <div class="material-datatables"></div>
      <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
  <thead>
    <tr>
      <th>Leaves Taken</th>
      <th>Paid Leaves</th>
      <th>Unpaid Leaves</th>
      <th>Pending Leave Requests</th>
      <th>Approved Upcoming Leaves</th>
      <th>Remaining Casual Leaves </th>
      <th>Remaining Sick Leaves</th>
      <th>Remaining Monthly Leaves</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.paid_leaves %></td>
      <td><%= @user.leaves_taken %></td>
      <td><%= @user.unpaid_leaves %></td>
      <td><%= @user.pending_leaves %></td>
      <td><%= @user.approved_upcoming_leaves %></td>
      <td><%= @user.remaining_casual_leaves_taken_this_year%></td>
      <td><%= @user.remaining_sick_leaves_taken_this_year%></td>
      <td><%= @user.remaining_monthly_leaves_taken%></td>
    </tr>
  </tbody>
</table>
</div>
      </div>
     </div>
   </div>
</div>


