<p>Hello <%= @leave_application.user.email %>,</p>
<p>Your leave request has been <%= @leave_application.status %>.</p>
<p>Reason: <%= @leave_application.reason %></p>
<p>Start Date: <%= @leave_application.start_date %></p>
<p>End Date: <%= @leave_application.end_date %></p>
<p>Leave Type: <%= @leave_application.leave_type %></p>
<p>Status: <%= @leave_application.status %></p>
