<p>Hello <%= @leave_application.approver.email %>,</p>
<p><%= @leave_application.user.email %> has submitted a leave request.</p>
<p>Reason: <%= @leave_application.reason %></p>
<p>Start Date: <%= @leave_application.start_date %></p>
<p>End Date: <%= @leave_application.end_date %></p>
<p>Leave Type: <%= @leave_application.leave_type %></p>
<p>Please review and approve or reject the request.</p>
