<div
  class="sidebar"
  data-active-color="rose"
  data-background-color="black"
  data-image="<%= asset_url "sidebar-1.jpg" %>"
>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <%= image_tag "faces/avatar.jpg" %>
      </div>
      <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
          <span>
            <%= yield(:username) %>
            <b class="caret"></b>
          </span>
        </a>
        <div class="clearfix"></div>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li>
              <%= link_to root_path do %>
                <span class="sidebar-mini">
                  <i class="material-icons">dashboard</i>
                </span>
                <span class="sidebar-normal">
                  Dashboard
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <span class="sidebar-mini">
                  <i class="material-icons">edit</i>
                </span>
                <span class="sidebar-normal">
                  Edit Profile
                </span>
              <% end %>
            </li> 
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li>
        <%= link_to leave_applications_path do %>
          <i class="material-icons">stars</i>
          <p>
            History
          </p>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="sidebar-mini">
            <i class="material-icons">logout</i>
          </span>
          <span class="sidebar-normal">
            Sign Out
          </span>
        <% end %>
      </li>
      <% unless current_user.admin? %>
      <li>
       <%= link_to new_leave_application_path do %>
        <i class="material-icons">add</i>
        <p>
          New Leave Application
       </p>
       <% end %>
      </li>
      <li>
       <%= link_to user_dashboard_path do %>
        <i class="material-icons">dashboard</i>
        <p>
         dashboard
       </p>
       <% end %>
      </li>
        <% end %>
       <% if current_user.admin? %>
      <li>
       <%= link_to leave_request_path do %>
        <i class="material-icons">pending</i>
        <p>
          Pending Request
       </p>
       <% end %>
      </li>
          <% end %>
      <% if current_user.admin? %>
        <li>
       <%= link_to admin_dashboard_path do %>
        <i class="material-icons">list</i>
        <p>
        All users
       </p>
       <% end %>
      </li>
        <% end %>
    </ul>
  </div>
</div>
